<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
      <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      <header>
        {{> header}}
        <img class="portrait" src="/img/abumoslem_logo.jpg" />
      </header>
    </div>
    
    <footer>
      {{> footer}}
    </footer>
  </body>

</html>