<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
      <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      <header>
        {{> header}}
      </header>
      <form>
        <input placeholder="Location" name="" id="">
        <button>Search</button>

        <p id="loader"></p>
        <p id="result"></p>
      </form>
    </div>
    
    <footer>
      {{> footer}}
    </footer>

    <script src="/js/custom.js"></script>
  </body>

</html>